# Week 5 Homework

This homework provides an opportunity for you to practice the most important topics we discussed in week 4. It will also prepare you for week 5 of this course.

## Submission guidelines:
**`Please display all your output using the print() function`**

**Once you are done, remove all the output (`Right click on screen --> Clear All Outputs`), save your file as: `YourFirstName_YourLastName_Week_5_SectionNumber.ipynb`.**


## **Please import all the needed libraries/modules for each cell in that cell. As an example if you will use pandas in questions 1 and 2 and 14, please make sure to include `import pandas as pd` in ALL these  cells.**

## Question 1
 - Please run
      * `import pandas as pd` to import pandas
      * set its display precision at 2 digits by running `pd.options.display.precision = 2`
      
 - Please read the file from the following link and create a `DataFrame` called `df_patients`. 

     PATIENT_INFO_LINK =
   'https://www.dropbox.com/scl/fi/z8363hhljjm7dcby7ai10/patient_info.csv?rlkey=jvl086b3m79mbuoyu84j5nqho&st=0snhkq6r&raw=1'

 - **Hint:** If you pay attention to the above link, part of the link says **`patient_info.csv`**. This signals us that this is a `csv` file and we need to use `pd.read_csv(above link)` function to read it. 
 - This `DataFrame` contains information about patients selected from different parts of the United States admitted to a hospital network.

In [11]:
# solution
import pandas as pd
pd.options.display.precision = 2
PATIENT_INFO_LINK = 'https://www.dropbox.com/scl/fi/z8363hhljjm7dcby7ai10/patient_info.csv?rlkey=jvl086b3m79mbuoyu84j5nqho&st=0snhkq6r&raw=1'
patient_info = pd.read_csv(PATIENT_INFO_LINK)
df_patients = pd.DataFrame(patient_info)
df_patients

,DATETIME,AGE,SEX,CHILDREN,SMOKER,WEIGHT_KILOGRAM,HEIGHT_METERS,UNITED_STATES_REGION,PREGNANT,DIABETIC,CHARGES
0,7/18/22 23:06,19,female,0,yes,56.6,2.16,southwest,yes,no,16884.92
1,9/30/22 18:58,18,male,1,no,70.2,1.93,southeast,no,yes,1725.55
2,6/1/22 19:01,28,male,3,no,52.1,1.95,southeast,no,yes,4449.46
3,4/16/22 17:40,33,male,0,no,81.0,1.65,northwest,no,yes,21984.47
4,1/8/22 10:28,32,male,0,no,87.2,1.85,northwest,no,no,3866.86
...,...,...,...,...,...,...,...,...,...,...,...
1333,6/17/22 22:53,50,male,3,no,66.0,1.46,northwest,no,yes,10600.55
1334,3/22/22 20:14,18,female,0,no,77.3,1.67,northeast,no,yes,2205.98
1335,12/16/22 5:22,18,female,0,no,104.1,1.50,southeast,no,no,1629.83
1336,9/10/22 11:45,21,female,0,no,80.9,2.06,southwest,no,yes,2007.95
1337,3/5/22 7:22,61,female,0,yes,79.1,1.51,northwest,no,yes,29141.36

## Question 2

Use `info` to check the data-types. What is the type of `DATETIME`?

In [13]:
# solution
import pandas as pd

df_patients.info()
print(f'\nDATETIME is an {df_patients['DATETIME'].dtypes}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATETIME              1338 non-null   object
 1   AGE                   1338 non-null   int64
 2   SEX                   1338 non-null   object
 3   CHILDREN              1338 non-null   int64
 4   SMOKER                1338 non-null   object
 5   WEIGHT_KILOGRAM       1338 non-null   float64
 6   HEIGHT_METERS         1338 non-null   float64
 7   UNITED_STATES_REGION  1338 non-null   object
 8   PREGNANT              1338 non-null   object
 9   DIABETIC              1338 non-null   object
 10  CHARGES               1338 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 115.1+ KB

DATETIME is an object

## Question 3

What is the average age of these patients? Use `f-string` to print the answer with ony 2 digits after the decimal point.

In [15]:
# solution
import pandas as pd

print(f'The average age of these patients is: {df_patients['AGE'].mean():.2f}')

The average age of these patients is: 39.21

## Question 4

What is the weight of the lightest patient? Use `f-string` to print the answer with ony 2 digits after the decimal point.

In [20]:
# solution
import pandas as pd

print(f'The weight of the lightest patient is: {df_patients['WEIGHT_KILOGRAM'].min():.2f} kilograms.')

The weight of the lightest patient is: 50.10 kilograms.

## Question 5

What is the height of the tallest patient? Use `f-string` to print the answer with ony 2 digits after the decimal point.

In [23]:
# solution
import pandas as pd

print(f'The height of the tallest patient is: {df_patients['HEIGHT_METERS'].max():.2f} meters.')

The height of the tallest patient is: 2.80 meters.

## Question 6

What is the range of the `Charges`? Hint: you need to use both `max` and `min` functions. Use `f-string` to print the answer with ony 2 digits after the decimal point.

In [26]:
# solution
import pandas as pd

max_charge = df_patients['CHARGES'].max()
min_charge = df_patients['CHARGES'].min()
print(f'The range of the Charges is [{min_charge:.2f}, {max_charge:.2f}].')

The range of the Charges is [1121.87, 63770.43].

## Question 7

How old are the youngest and oldest patients? Use `f-string` to print the answers.

In [29]:
# solution
import pandas as pd

youngest = df_patients['AGE'].min()
oldest = df_patients['AGE'].max()
print(f'The youngest patient is {youngest} years old.\nThe oldest patient is {oldest} years old.')

The youngest patient is 18 years old.
The oldest patient is 64 years old.

## Question 8

How many of these patients are smoker? Hint: please use `value_counts` on the appropriate column.

In [32]:
# solution
import pandas as pd

print(f'{df_patients['SMOKER'].value_counts()['yes']} of these patients are smoker.')

274 of these patients are smoker.

## Question 9

How many of these patients are smoker? Hint: please use `boolean indexing` and `sum` function on the appropriate column.

In [35]:
# solution
import pandas as pd

print(f'{(df_patients['SMOKER'] == 'yes').sum()} of these patients are smoker.')

274 of these patients are smoker.

## Question 10

What fraction of these patients are smoker? Hint: please use `boolean indexing` and `mul` and `mean` functions to answer the question. Please note that `.mul(100)` multiplies a column by `100`. Try `mul(100).mean()` on appropriate column.

In [38]:
# solution
import pandas as pd

print(f'{(df_patients['SMOKER'] == 'yes').mul(100).mean():.2f}% of these patients are smoker.')

20.48% of these patients are smoker.

## Question 11

What is the average age of the smoking patients? 

There are several ways of answering this question. I will guide you in several different ways.

**Method 1:**

Using `boolean indexing` create a new dataframe with only smoking patients. Then call `mean` function on this dataframe's appropriate column. 

Please use **Method 1** in this question

In [41]:
# solution
import pandas as pd

df_smoker = df_patients[df_patients['SMOKER']=='yes']
avg_smoker_age = df_smoker['AGE'].mean()
print(f'The average age of the smoking patients is: {avg_smoker_age:.2f}')

The average age of the smoking patients is: 38.51

## Question 12

What is the average age of the smoking patients? 

Here is Method 2:

**Method 2:**

*Method 1* has the problem of creating a new dataframe that could be time consuming and memory intensive if your original dataset is a big dataset. So another way of answering this question is by using `groupby` and calling `groupby` on the original dataframe. Please watch the appropriate posted videos for this part first. 

Please use **Method 2** in this question.

In [44]:
# solution
import pandas as pd

avg_smoker_age2 = df_patients.groupby(by='SMOKER').get_group(('yes')).AGE.mean()
print(f'The average age of the smoking patients is: {avg_smoker_age2:.2f}')

The average age of the smoking patients is: 38.51

## Question 13

Using `boolean indexing`, `mul`, and `mean` functions, determine the fraction of female patients.

In [33]:
# solution
import pandas as pd

print(f'{(df_patients['SEX'] == 'female').mul(100).mean():.2f}% of patients are female.')

49.48% of patients are female.

## Question 14

What fraction of the patients is pregnant?

In [35]:
# solution
import pandas as pd

print(f'{(df_patients['PREGNANT'] == 'yes').mul(100).mean():.2f}% of patients are pregnant.')

10.61% of patients are pregnant.

## Question 15

Which region of the united states has the most diabetic patients?

**Strong Hint:** You can first use `boolean indexing` to create another daframe that contains only diabetic patients and then use count values to answer this question. It would be great if you also try to use `idxmax` function.

In [37]:
# solution
import pandas as pd

df_diabetic = df_patients[df_patients['DIABETIC'] == 'yes']
df_d_region = df_diabetic['UNITED_STATES_REGION'].value_counts()
#print(df_d_region)
print(f'{df_d_region.idxmax()} has the most diabetic patients.')

southeast has the most diabetic patients.

## Question 16

Answer the previous question using `groupby`.

In [39]:
# solution
import pandas as pd

df_diabetic = df_patients[df_patients['DIABETIC'] == 'yes']
df_d_region2 = df_patients.groupby(by='UNITED_STATES_REGION').size()
print(f'{df_d_region2.idxmax()} has the most diabetic patients.')

southeast has the most diabetic patients.

## Question 17

There are four csv files in Canvas under the following names:
 - `restaurants.csv`
 - `items.csv`
 - `orders.csv`
 - `census.csv`
Please download them on your computer. We will work with these files next week.