In [3]:
#1
print(7*8)

56

In [5]:
#2
print(10%3)

1

In [12]:
#3
if 5%2 == 0:
    print('5 is even')
else:
    print('5 is odd')

5 is odd

In [32]:
#4
import math
print(math.sqrt(16))

4.0

In [34]:
#5
print(math.pi*5**2)

78.53981633974483

In [36]:
#6
print(10*5/2)

25.0

In [39]:
#7
print(len('Hello, BARM!'))

12

In [52]:
#8
print(('Business').upper())

BUSINESS

In [54]:
#9
print(('PYTHON').lower())

python

In [61]:
#10
s = "12345"
print(s.isdigit())

True

In [74]:
#11
s = 'I love python programming in Python'
print(s.lower().find('python'))

7

In [80]:
#12
s = 'banana'
print(s.replace('a', '@'))

b@n@n@

In [84]:
#13
s = 'radar'
if s == s[::-1]:
    print('is palindrome')
else:
    print('not palindrome')
#s[::-1]

is palindrome

In [87]:
#14
s = 'python'
print(s[::-1])

nohtyp

In [97]:
#15
s = '123@jhu.edu'
s1 = s[-7:]
print(s1.upper())

JHU.EDU

In [129]:
#16
s = 'World of python java c rubi julia'
list1 = s.split()
max_length = 0
for i in list1:
    if len(i)>max_length:
        longest = i
        max_length = len(i)
print(longest)
print(max(list1, key=len))

python
python

In [140]:
#17
s = 'Python for Data Analysis, Data Analytics, Business Analytics'
def func_(s):
    s = s.lower()
    s = s.replace(',', '')
    list_ = s.split()
    word = []
    for i in list_:
        if i not in word:
            word.append(i)
    return word
func_(s)

['python', 'for', 'data', 'analysis', 'analytics', 'business']

In [154]:
#18
list1 = [1,2,3,4,5]
print(len(list1))

5

In [434]:
#19
list1 = [1,2,3,4,5]
list1.append(6)
print(list1)
list1.remove(list1[-1])
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [436]:
#20
list1 = [1,2,3,4,5]
list1.insert(2,0)
print(list1)
print(list1.index(3))

[1, 2, 0, 3, 4, 5]
3

In [174]:
#21
list1 = [1,2,3,4,5]
list1.remove(list1[-1])
print(list1)

[1, 2, 3, 4]

In [176]:
#22
list2 = [3,1,4,1,5,9,2,6]
print(max(list2))
print(min(list2))

9
1

In [438]:
#23
list3 = [1,2,3,4,3,5]
print(list3.index(3))
list3.count(3)

2

2

In [193]:
#24
list3 = [1,2,3,4,3,5]
print(list3.count(3))

2

In [443]:
#25
list4 = [3,1,4,1,5,9,2,6]
print(sorted(list4))

[1, 1, 2, 3, 4, 5, 6, 9]

In [236]:
#26
list1 = [1,2,3,4,5]
list1.reverse()
#list1 = list1[::-1]
print(list1)

[5, 4, 3, 2, 1]

In [250]:
#27
list4 = [3,1,4,1,5,9,2,6]
print(list4.index(max(list4)),list4.index(min(list4)))

5 1

In [133]:
#28
list5 = [1,2,2,3,4,4,5]
list_new = []
for i in list5:
    if i not in list_new:
        list_new.append(i)
print(list_new)
print(list(set(list5)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [267]:
#29
list6 = [num for num in range(1,1000) if num%3==0 and num%5==0 and len(str(num))%2==0]
list6

[15, 30, 45, 60, 75, 90]

In [274]:
#30
t1 = (1,2,3,4,5)
print(t1[2])

3

In [4]:
#31
t1 = (1,2,3,4,5)
list_t1 = list(t1)
list_t1

[1, 2, 3, 4, 5]

In [8]:
#32
list1 = [1,2,3,4,5]
tuple_1 = tuple(list1)
tuple_1

(1, 2, 3, 4, 5)

In [448]:
#33
t1 = (1,2,3,4,5)
print(3 in t1)
t1.count(2)
t1.index(3)

True

2

In [17]:
#34
print((1,2,3,2,4,2,5).count(2))

3

In [23]:
#35
t1 = (1,2,3,4,5)
print(t1.index(3))

2

In [31]:
#36
tuple2 = ('a','b','c','d')
a,b,c,d = tuple2
print(a,b,c,d)

a b c d

In [34]:
#37
t1 = (1,2,3) + (4,5,6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [77]:
#38
def func_(*args):
    '''
    sum = 0
    times = 0
    uni = []
    for i in args:
        sum += i
        times += 1
        if i not in uni:
            uni.append(i)
    return sum,times,uni
    '''
    return sum(args), len(args), tuple(set(args))

func_(1,2,2,3,3)

(11, 5, (1, 2, 3))

In [75]:
li = [1,2,3]
st = [2,3,4]
print((set(li)|set(st)))
print((set(li)&set(st)))
print(li and st)
print((set(li)^set(st)))

{1, 2, 3, 4}
{2, 3}
[2, 3, 4]
{1, 4}

In [388]:
#39
dict1 = {'apple':1, 'banana': 2, 'cherry':3}

In [390]:
#40
dict1['banana']

2

In [95]:
#41
dict1['apple']=4
dict1

{'apple': 4, 'banana': 2, 'cherry': 3}

In [103]:
#42
dict1 = {'apple':1, 'banana': 2, 'cherry':3}
dict1['date'] = 4
dict1

{'apple': 1, 'banana': 2, 'cherry': 3, 'date': 4}

In [120]:
#43
dict1 = {'apple':1, 'banana': 2, 'cherry':3}
del dict1['banana']
dict1

{'apple': 1, 'cherry': 3}

In [227]:
dict1 = ['apple', 'banana', 'cherry']
dict1.remove(dict1[0])
dict1

['banana', 'cherry']

In [125]:
#44
dict1 = {'apple':1, 'banana': 2, 'cherry':3}
print('apple' in dict1)

True

In [138]:
#45
dict1 = {'apple':1, 'banana': 2, 'cherry':3}
print(dict1.keys())

dict_keys(['apple', 'banana', 'cherry'])

In [140]:
#46
dict1 = {'apple':1, 'banana': 2, 'cherry':3}
print(dict1.values())

dict_values([1, 2, 3])

In [173]:
#47
dict1 = {'apple':1, 'banana':2}
dict2 = {'cherry':3, 'data':4}
print({**dict1,**dict2})
dict1.update(dict2)
print(dict1)
dict3 = dict1 | dict2
print(dict3)

{'apple': 1, 'banana': 2, 'cherry': 3, 'data': 4}
{'apple': 1, 'banana': 2, 'cherry': 3, 'data': 4}
{'apple': 1, 'banana': 2, 'cherry': 3, 'data': 4}

In [182]:
#48
grades = {'John':82, 'Anna':90, 'George':67, 'Marry': 92}
for name, score in grades.items():
    if score > 85:
        print(name)

Anna
Marry

In [259]:
#49
dict1 = {'a':1, 'b':2}
dict2 = {'b':3, 'c':4}
dict3 = {}
for k in dict1.keys() | dict2.keys():
    value = []
    if k in dict1:
        value.append(dict1[k])
    if k in dict2:
        value.append(dict2[k])
    if len(value) > 1:
        dict3[k] = value
    else:
        dict3[k] = value[0]


dict3

{'b': [2, 3], 'c': 4, 'a': 1}

In [261]:
#50
values = {'x':12,'y':25,'z':5}
max_key = max(values, key = lambda k: values[k])
min_key = min(values, key = lambda k: values[k])

print(max_key)

print(max_key)

y
y

In [273]:
#51
data = [('a',1),('b',2),('a',3)]
data_d = {}
for k,v in data:
    if k not in data_d:
        data_d[k] = []
    data_d[k].append(v)
data_d

{'a': [1, 3], 'b': [2]}

In [416]:
#52
s = 'aabbccddeeffgggggghhhhiiijj'
count_char = {}
for i in s:
    #count_char[i] = 0
    if i in count_char:
        count_char[i] += 1
    else:
        count_char[i] = 1
print(count_char)
count_char = sorted(count_char.items(), key = lambda x: x[1],reverse=True)
print(count_char[:3])

{'a': 2, 'b': 2, 'c': 2, 'd': 2, 'e': 2, 'f': 2, 'g': 6, 'h': 4, 'i': 3, 'j': 2}
[('g', 6), ('h', 4), ('i', 3)]

In [418]:
#53
dict1 = {'apple':5, 'banana': 2, 'cherry':8}
most_common = max(dict1, key = lambda k: dict1[k])
most_common

'cherry'

In [23]:
#54
conversion = {"USD": 1, "EUR": 0.85, "JPY": 110}
def cur_(f_value, currency):
    if currency in conversion:
        return f_value * conversion[currency]
    else:
        return 'ERROR'

cur_(2,'JPY')

220

In [12]:
#55
colors = {"red": "#FF0000", "green": "#008000", "blue": "#0000FF"}
for k,v in colors.items():
    if "00"  in v:
        print(k)

red
green
blue

In [25]:
#56
votes = {"Alice": 3, "Bob": 4, "Charlie": 2}
votes['Bob'] += 1
votes['Alice'] -= 1
votes

{'Alice': 2, 'Bob': 5, 'Charlie': 2}

In [40]:
#57
import math
school = {"John": {"Math": 90, "History": 85},
          "Anna": {"Math": 80, "History": 92}}
for k,v in school.items():
    avg_ = sum(v.values())/len(v)
    school[k]=avg_
print(school)

{'John': 87.5, 'Anna': 86.0}

In [63]:
# 58
students = {"Alice": 85, "Bob": 92, "Clara": 87, "Dave": 75, "Eva": 90}
#a
highest = max(students, key = lambda k: students[k])
print(highest)
#b
students['Frank'] = 88
print(students)
#c
for student in students:
    students[student] *= 1.05
print(students)

Bob
{'Alice': 85, 'Bob': 92, 'Clara': 87, 'Dave': 75, 'Eva': 90, 'Frank': 88}
{'Alice': 89.25, 'Bob': 96.60000000000001, 'Clara': 91.35000000000001, 'Dave': 78.75, 'Eva': 94.5, 'Frank': 92.4}

In [73]:
# 59
set1 = {1,2,3,4,5}
type(set1)

set

In [81]:
# 60
set1
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [86]:
# 61
set1 = {1,2,3,4,5}
set1.remove(3)
set1

{1, 2, 4, 5}

In [93]:
# 62
set1 = {1,2,3,4,5}
4 in set1

True

In [101]:
# 63
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1 | set2
set3

{1, 2, 3, 4, 5}

In [103]:
# 64
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1 & set2
set3

{3}

In [113]:
# 65
set1 = {1,2,3}
set2 = {1,2,3,4,5}
print(set1&set1 == set1)
print(set1.issubset(set2))

True
True

In [115]:
# 66
set1 = {1,2,3}
set2 = {1,2,3,4,5}
print(set2.issuperset(set1))

True

In [118]:
# 67
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set1^set2

{1, 2, 5, 6}

In [134]:
# 68
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
def func_(s1,s2):
    union = s1 | s2
    inter = s1 & s2
    s_d = s1 ^ s2
    return (union,inter,s_d)

func_(set1,set2)

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {4, 5, 6}, {1, 2, 3, 7, 8, 9})

In [137]:
# 69
def calculate_total(pizza_n):
    price = pizza_n * 10
    return price
calculate_total(5)

50

In [147]:
# 70
def greet(name):
    print(f'Hello, {name}!')
greet('Alex')

Hello, Alex!

In [174]:
# 71
def sum_of_list(numbers):
    return sum(numbers)
list1 = [2,4,6,8,10]
sum_of_list(list1)

30

In [176]:
# 72
def apply_discount(price):
    return price*0.9
apply_discount(50)

45.0

In [213]:
# 73
def party_planner(n_guests):
    n_slice = n_guests*2
    n_pizza = n_slice//8
    if n_slice%8 != 0:
        n_pizza += 1
    return n_pizza
party_planner(16)

4

In [271]:
# 74
def favorite_color(name, lst):
    for person in lst:
        if name == person[0]:
            return person[1]
    return 'not found'
favorite_color('Alice', [('Bob', 'Blue'), ('Alice', 'Red'),('Eve', 'Green')])

'Red'

In [273]:
# 75
def add_tax(price):
    price *= 1.05
    return price
add_tax(20)

21.0

In [286]:
# 76
def squared_numbers(n):
    list1 = []
    for num in range(1,n+1):
        list1.append(num**2)
    return list1
squared_numbers(5)

[1, 4, 9, 16, 25]

In [294]:
# 77
def is_birthday(guess_date):
    date = '04-15'
    return date == guess_date
is_birthday('04-15')

True

In [300]:
#78
def weekly_groceries(list_items):
    item = 'Milk'
    if item not in list_items:
        list_items.append(item)
    return list_items
weekly_groceries(['eggs'])

['eggs', 'Milk']

In [313]:
#79
print((lambda name: (f'Hello, {name}!'))('Alex'))

Hello, Alex!

In [315]:
(lambda x: x*2)(5)

10

In [319]:
(lambda x: x%2==0)(6)

True

In [374]:
#82
import random
def recommend_books(genre, book_list):
    for k,v in book_list.items():
        if genre == k:
            return random.choice(v)
    return('not found')
recommend_books('Mystery', {'Mystery': ['Book1','Book2'], 'Romance': ['Book3', 'Book4']})

'Book1'

In [355]:
def split_expenses(dict_exp):
    total = 0
    for k,v in dict_exp.items():
        dict_exp[k] = v/2
        total += dict_exp[k]
    return total
split_expenses({'rent': 1000, 'utilities': 150, 'groceries': 200})

675.0

In [384]:
def common_elements(lst1,lst2):
    set1 = set(lst1+lst2)
    return set1
common_elements([1,2,3,4,5],[4,5,6,7,8])

{1, 2, 3, 4, 5, 6, 7, 8}

In [376]:
#85
def computer_average(dict_):
    import statistics
    for k,v in dict_.items():
        dict_[k] = statistics.fmean(v)
    return dict_
computer_average({'John': [85, 90, 78], 'Jane': [90, 88, 80]})

{'John': 84.33333333333333, 'Jane': 86.0}

In [ ]:
#86
def password_strength(str):